*{
font-family: montserrat;
}
body{
    background: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-item i{
   background-color: rgb(64, 147, 172);
   border: none;
}
.carousel-caption{
    bottom: 150px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px ;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(31, 30, 30, 0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar{
    background-color:rgb(22, 109, 136);
    padding: 15px;
}
.navbar a{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;

}
.navbar .nav-link{
    color: rgb(246, 240, 255);
    margin: 8px;
}
.navbar .nv{
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
    color: rgb(64, 147, 172);
}
.w-100{
    height: 100vh;
}
.services .card-body{
    font-size: 50px;
    box-shadow: 15px 15px 40px rgb(117, 117, 117); 
}
.services .card .btn{
    background-color:  rgb(22, 109, 136);
    color: rgb(0, 0, 0);
 }
 .services .card h3{
    color: rgb(0, 0, 0);
 }
.rooms .card{
   box-shadow: 15px 15px 40px rgb(110, 110, 110); 
   color: aliceblue;
}
.rooms .card button{
    background-color: rgb(64, 147, 172);
 }

.form-area{
    padding: 7%;
}
.row.single-form{
    box-shadow: 0 2px 20px -5px rgb(73, 71, 73);
}
.left{
    background-color: rgb(64, 147, 172);
    padding: 190px 80px;
}
.left h2{
    font-family: poppins;
    color: azure;
    font-weight: 700;
    font-size: 48px;
}
.left h2 span{
    font-weight: 100;
}
.right{
    padding: 70px 100px;
    position: relative;
}
.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: aliceblue;
}
.form-control{
    border: 2px solid rgb(64, 147, 172);
 }
.right button{
    border: none;
    border-radius: 4px;
    background-color:  rgb(64, 147, 172);
    width: 180px;
    color: aliceblue;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.right button:hover{
    background-color: rgb(6, 55, 70);
}




/* ::::::::: respo ::::::: */
@media screen and (min-width: 768px) and (max-width: 990px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
    .card{
        margin-bottom: 30px;
    }
    .img-area img{
        width: 100%;
    }
    .right i{
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}
@media screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 200px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
     .card{
        margin-bottom: 30px;
    }
    .left{
        padding: 90px 15px;
        text-align: center;
    }
    .right{
        padding: 25px;
    }
    .left h2{
        font-size: 25px;
    }
    .right button{
        width: 250px;
        padding: 12px 0;
    }
}